/* PHASE 5: Cats */
.content-header{
    width: 100%;
    position: relative;
    
}

.content-header img {
    width: 100%;
    height: auto;
}

.content-header .stuffz{
    position: absolute;
    bottom: 80%;
    left: 80%;
    font-size: 30px;
    color: white;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.content-header .stuffz2{
    position: absolute;
    bottom: 80%;
    left: 20;
    background-color: silver;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px;
      transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}